* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #F9FAFB;
    font-family: "Poppins", sans-serif;    
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
}

header {
    width: 100%;
    margin-bottom: 40px;
}

h1 {
    font-size: 3rem;
}

.subheading {
    font-size: 1.25rem;
    color: #6C727F;
    max-width: 730px;
    margin: 16px auto 0;
    line-height: 1.6;
}

.formulario {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 550px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

input {
    height: 55px;
    width: 100%;
    border-radius: 12px;
    font-size: 1rem;
    padding: 0 20px;
    font-family: inherit;
}

.email {
    background-color: #F9FAFB;
    border: 1.5px solid #E5E7EB;
    padding: 10px;
}

input::placeholder {
    text-align: center;
    color: #394150;
    font-weight: 500;
}

.submit {
    background-color: #284BCE;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

.submit:hover {
    cursor: pointer;
}

.submit:active {
    box-shadow: -2px -2px 1px rgb(76, 104, 199);
    border: 1px solid #284BCE    
}

.helper-text {
    font-size: 0.875rem;
    color: #6C727F;
}

footer {
    width: 100%;
    padding: 20px;
}

.author-info {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}

@media (max-width: 640px) {
    h1 {
        font-size: 2rem;
    }

    .subheading {
        font-size: 1rem;
        padding: 0 10px;
    }

    .content {
        padding: 15px;
    }

    .formulario {
        padding: 30px 20px;
        border-radius: 15px;
    }

    input, .submit {
        height: 50px;
    }
}